<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bizay Karki - Creative Learner</title>
    <link rel="stylesheet" href="/static/css/styles.css"

</head>
<body>
{% include "header.html"%}
    
    <section>
        <img src="/static/images/bizay.jpg" alt="Bizay Karki">
        <h2>Bizay Karki</h2>
        <div class="skills">
            <p>Leadership Skills</p>
            <p>Programming Skills</p>
            <p>Communication Skills</p>
            <p>Learning Skills</p>
        </div>
        <div class="social-links">
            <a href="https://www.facebook.com/your_facebook_profile" target="_blank">Facebook</a>
            <a href="https://www.instagram.com/your_instagram_profile" target="_blank">Instagram</a>
        </div>
    </section>
</body>
</html>
