{% extends 'body.html' %}

{% block content %}

    <section class="hero">
        <div class="hero-container">
            <img src="/static/images/BJ.jpg" alt="passionate dreamer" class="animate__animated animate__fadeInDown">
            <p style="font-size: 70px;" id="typed-text" class="animate__animated animate__fadeInUp">Hello, I'm Bizay Karki, a passionate learner</p>

        </div>
    </section>

    <section class="skills" data-aos="fade-up">
        <div class="skills-container">
            <h2>SKILLS</h2>
            <ul>
                <li class="animate__animated animate__fadeIn">
                    <span class="skill-icon">🚀</span>
                    Communication
                </li>
                <li class="animate__animated animate__fadeIn">
                    <span class="skill-icon">🌟</span>
                    Leadership
                </li>
                <li class="animate__animated animate__fadeIn">
                    <span class="skill-icon">💻</span>
                    Programming
                </li>
                <li class="animate__animated animate__fadeIn">
                    <span class="skill-icon">🔍</span>
                    Problem Solving
                </li>
                <li class="animate__animated animate__fadeIn">
                    <span class="skill-icon">📚</span>
                    Quick Learning
                </li>
            </ul>
        </div>
    </section>
<section class="anotherpage"></section>






</body>
</html>

{% endblock %}